/* Style for the modal overlay */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center; /* Center the modal horizontally */
    align-items: center; /* Center the modal vertically */
}

.ReactModal__Content {
    position: relative;
    background: white; /* Or any color you prefer, with optional transparency */
    padding: 20px;
    border-radius: 4px;
    outline: none;
    max-width: 500px; /* Maximum width */
    width: auto;
    height: auto;
    overflow: hidden; /* Adjust as per your content */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    margin-top: 50px; /* Adjust this value to move the modal lower */
}

