#Summoner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #5bc6c9;
}


.SummonerBody {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 0.8rem;
    gap: 0.8rem;
}
.SideContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 300px;
    margin-left: 20px;
    gap: 0.8rem;


}
.SoloRank{
    border:1px solid black;

    display:flex;
    height:200px;
    width:100%;
    flex-direction: column;

}
.FlexRank{
    border:1px solid black;

    display:flex;
    height:200px;
    width:100%;
    flex-direction: column;
}


.RealContent {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.8rem;

    max-width: 100%;
    border: 1px solid black;
    width: 100%; /* 필요한 경우에 따라 가로 스크롤바가 필요할 수 있습니다. */
    overflow-x: auto; /* 가로 스크롤바가 있는 경우 */
    overflow-y: hidden; /* 세로 스크롤바를 감춥니다. */
}
