/* styles.css */
* .v1_56 {
    width: 29px;
    height: 29px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 243px;
    left: 576px;
    overflow: hidden;
}
