.alarm-icon {
    position: absolute; /* or 'relative' depending on your layout structure */
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    border: none;
    background-color: transparent;
    padding: 10px;
    left: 75%;
    top: 4%;
    width: 50px; /* Set the width of the icon */
    height: 50px; /* Set the height of the icon */

}

/* Container for the sliding panel */
.slider-container {
    position: fixed;
    left: -250px; /* Start off screen */
    top: 100px;
    width: 250px; /* Width of the slider */
    height: 30%;
    background-color: #f2f2f2;
    transition: left 0.3s; /* Smooth slide effect */
    z-index: 999; /* Below the toggle button */
    border-radius: 20px;

}

/* Make slider visible */
.slider-container.visible {
    left: 0; /* Slide in */
}

/* The slider itself */
.slider {
    margin: 20px;
    /* Rest of your slider CSS */
}
