.banner {
    background-image: url(assets/v1_396.png); /* Update with your image path */
    background-size: cover; /* This will make sure your image covers the entire banner */
    background-position: center; /* This will center your image in the banner */
    height: 250px;
    width: 100%;


}

#main-contain {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 70%; /* Set the size to 70% of the container */
    background-image: url(assets/LoL_Logo_Rendered_LARGE.png);
    background-repeat: repeat-x; /* Repeat the image horizontally */

    animation: scrollHorizontally 10s linear infinite;
}
@keyframes scrollHorizontally {
    from {
        background-position: 100% center;
    }
    to {
        background-position: 0% center;
    }
}


